

#homePage{
  height: 100vw;
 background-color: rgb(252, 250, 236);
}
#myWorkPage {
  height: 100vw;
  background-color: rgb(252, 250, 236);
}
#contactPage {
  height: 100vw;
background-color: rgb(252, 250, 236);

}
body{
  background-color: rgb(252, 250, 236);
  /* background-image: url(/assets/img/tealMountain.jpg);
  background-repeat: no-repeat;
  background-position: center; */
}

header{
  background-color:rgb(252, 250, 236);
}
.intro{
  color:rgb(252, 250, 236);
}
.test{
  color: black;
}
li {
  font-size: 1.5em;
}
.hello:hover{
  color:#0d6e7c;
  font-size: larger;
  font-family:cursive;
}
.navWords {
  color:#0d6e7c;
  font-weight: bold;
}
.blue{
  background-color: #0d6e7c;
  height: 4rem;
}
.navWords:hover{
  border-bottom: 3px solid thistle;
  border-radius: 3px;
 
}
.intro{
  padding: 4em;
  font-size: 1em;
}
main {
    margin-top: 3rem;
    margin-bottom: 3rem;
   /* background-color: rgb(252, 250, 236); */
   background-image: url("../img/tealMountain.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
    padding: 4em;
}
label{
  font-size: 1.2em;
}
.card-section {
  background-color: #fafcfc;
}
.card{
  height:25rem;
  border: 2px solid grey;
}
.button{
  background-color: #025e73;
  color: #fafcfc;
  
}

footer {
  min-height: 15vh;
  border:5px solid #025e73;
  border-radius: 10px;
  color: black;
  padding: 1em;
  margin-top: 3rem;  
  background-color:rgb(252, 250, 236);
  text-align: center;
}
/* .mountains{
  background-image: url("/assets/img/tealMountain.jpg");
  
} */
