

#homePage{
  height: 100vw;
  background-color: rgb(252, 250, 236);
}
#myWorkPage {
  height: 100vw;
  background-color: rgb(252, 250, 236);
}
#contactPage {
  height: 100vw;
  
background-image:url("/assets/img/tealMountain.jpg");
background-color: rgb(252, 250, 236);

}
body > * {
  padding: 1em;
  
}
header{
  background-color:rgb(252, 250, 236);
}

li {
  font-size: 1.5em;
}
.hello:hover{
  color:#025373;
  font-size: larger;
  font-family:cursive;
}
.horchata {
  color:#025373;
  font-weight: bold;
}
.blue{
  background-image: linear-gradient(125deg,#016e99,#025373);
  height: 4rem;
}
.horchata:hover{
  border-bottom: 3px solid thistle;
  border-radius: 3px;
 
}
main {
    margin-top: 3rem;
   background-color: rgb(252, 250, 236);
    border:4px solid thistle;
    border-radius: 10px;
    padding: 2em;
}

.card-section {
  background-color: rgb(245, 245, 245);
}

footer {
  min-height: 15vh;
  border:5px solid #025e73;
  border-radius: 10px;
  color: black;
  padding: 1em;
  margin-top: 3rem;  
  background-color:rgb(252, 250, 236);
}
.mountains{
  background-image: url("/assets/img/tealMountain.jpg");
  
}
