

#homePage{
  height: 100vw;
  /* background-color: rgb(252, 250, 236); */
  /* background-image: url("/assets/img/tealMountain.jpg") no-repeat fixed center; */
}
#myWorkPage {
  height: 100vw;
  background-color: rgb(252, 250, 236);
}
#contactPage {
  height: 100vw;
  
background-image:url("/assets/img/tealMountain.jpg"); 
background-color: rgb(252, 250, 236);

}
body{
  background-image: url(/assets/img/tealMountain.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

header{
  background-color:rgb(252, 250, 236);
}

li {
  font-size: 1.5em;
}
.hello:hover{
  color:#025373;
  font-size: larger;
  font-family:cursive;
}
.navWords {
  color:#025373;
  font-weight: bold;
}
.blue{
  background-image: linear-gradient(125deg,#016e99,#025373);
  height: 4rem;
}
.navWords:hover{
  border-bottom: 3px solid thistle;
  border-radius: 3px;
 
}
/* .intro{
  padding: 5em;
} */
main {
    margin-top: 3rem;
    margin-bottom: 3rem;
   /* background-color: rgb(252, 250, 236); */
    border:4px solid rgb(252, 250, 236);
    border-radius: 10px;
    padding: 5em;
}

.card-section {
  background-color: white;
}
.card{
  height:25rem;
}

footer {
  min-height: 15vh;
  border:5px solid #025e73;
  border-radius: 10px;
  color: black;
  padding: 1em;
  margin-top: 3rem;  
  background-color:rgb(252, 250, 236);
}
/* .mountains{
  background-image: url("/assets/img/tealMountain.jpg");
  
} */
